.bold{
    font-weight: bold;
}
.flex{
    display: flex;
    justify-content: center;
}
@media (max-width: 815px){
    .headerWhiteRow .contactsBox {
        min-width: 0px;
        max-width: 600px;
    }
    .headerWhiteRow .contactsBox .contactsLower {
        padding-left: 0px;
    }
      }